/* This file is for your main application css. */

.help-block {
    color: red;
    position: absolute;
    text-transform: capitalize;
    top: 37px;
}

.form-group {
    margin-bottom: 25px;
    position: relative;
}
